
html {
    font-family: helvetica;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

html body #google_translate_notifier_warning {
    display: none;
}

html[class*="translated"] {
    padding-top: 120px;
}

html[class*="translated"] body #google_translate_notifier_warning {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(247, 247, 107);
    height: 120px;
    overflow: auto;
    padding: 0 1rem 0 1rem;
}